.profile {
  border: 1px solid rgb(192, 188, 188);
  margin: 50px auto;
  width: 299px;
  height: 440px;
  box-shadow: 2px 7px 7px rgb(0 0 0 / 16%);
}

.statList {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 23px;
  border-top: 1px solid rgb(192, 188, 188);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px;
  margin: 0;
  border-right: 1px solid rgb(192, 188, 188);
  background-color: rgb(218, 213, 240);
}

.avatar {
  display: block;
  margin: 30px auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

p {
  margin: 10px 0;
}

.name {
  font-weight: 500;
  font-weight: 700;
}
